@font-face 
    font-family: 'OpenSans-SemiBold'
    src: url(../fonts/OpenSans-SemiBold.ttf)

@font-face 
    font-family: 'OpenSans-Bold'
    src: url(../fonts/OpenSans-Bold.ttf)

@font-face 
    font-family: 'OpenSans-Regular'
    src: url(../fonts/OpenSans-Regular.ttf)

@font-face 
    font-family: 'OpenSans-Light'
    src: url(../fonts/OpenSans-Light.ttf)

@font-face 
    font-family: 'Philosopher-Bold'
    src: url(../fonts/Philosopher-Bold.ttf)

@font-face 
    font-family: 'Philosopher-Regular'
    src: url(../fonts/Philosopher-Regular.ttf)


h1
    font-size: 14.4rem
    font-family: 'Philosopher-Bold'
    text-transform: uppercase
    color: $color-white

h2
    font-size: 9.6rem
    font-family: 'Philosopher-Bold'

h3
    font-size: 3.6rem
    font-family: 'Philosopher-Bold'

h4
    font-size: 1.8rem
    font-family: 'Philosopher-Bold'

.chapter-text
    font-family: 'OpenSans-Bold'
    font-size: 1.8rem
    color: $color-white
    text-transform: uppercase
    &_black
        color: $color-black

.subtitle
    text-transform: uppercase

.small-signature
    font-family: 'OpenSans-Regular'
    font-size: 1.4rem
    line-height: 1.9rem

.title
    position: relative
    &::before
        content: ''
        width: 4.5rem
        border: 2px solid $color-orange
        position: absolute
        bottom: 0
        left: 0
    &_96px
        position: relative
        &::before
            content: ''
            width: 5rem
            border: 2px solid $color-orange
            position: absolute
            bottom: 1rem
            left: 1rem

.text
    font-family: 'OpenSans-Regular'
    font-size: 1.6rem
    line-height: 2.2rem

.text-subtitle
    font-size: 1.8rem
    font-family: 'Philosopher-Regular'

.pagination-num
    font-size: 2.2rem
    font-family: 'OpenSans-Bold'
    &:link, &:visited
        text-decoration: none
        color: $color-black
    &:nth-child(2)
        background-color: $color-orange
        padding: .5rem 1rem
        border-radius: 100%
    &:not(:last-child)
        margin-right: 5rem
    @include respond(phone)
        &:not(:last-child)
            margin-right: 4rem

.little-text
    font-family: 'OpenSans-Light'
    font-size: 1.4rem
    color: $color-white
    text-transform: uppercase
    &_not-uppercase
        text-transform: none

label
    display: block


